Source: web-console
Section: net
Priority: standard
Maintainer: Marius Gherghief <marius.gherghief@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/symmetry-apps/web_console

Package: web-console
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), ssh(>=1:6.7), ${misc:Pre-Depends}
Depends: ${misc:Depends}
Description: Symmetry Apps - Web Console
 Slack Bot ssh interface for distributed environments