#!/usr/bin/make -f

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv \
		--extra-pip-arg "--ignore-installed" \
		--extra-pip-arg "--no-deps" \
		--extra-pip-arg "--no-cache-dir" \
		--use-system-packages
#		--extra-virtualenv-arg "--python=python3"
