#!/usr/bin/make -f

%:
	dh $@ --python=/usr/bin/python --with python-virtualenv --preinstall "pip>=9"

override_dh_virtualenv:
	dh_virtualenv \
		--extra-pip-arg "--ignore-installed" \
		--extra-pip-arg "--no-deps" \
		--extra-pip-arg "--no-cache-dir" \
		--use-system-packages
		--extra-virtualenv-arg "--python=/usr/bin/python"
