[Unit]
Description=Symmetry Apps - Web Console Service

[Service]
Environment=PYTHONPATH=/root/.pyenv/versions/3.5.2/lib/python3.5/site-packages/
Environment=PATH=/root/.pyenv/shims:/root/.pyenv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/bin/sh -c '/root/.pyenv/versions/3.5.2/bin/python /opt/web_console/app.py >> /var/log/symmetry-apps/web_console.log 2>&1'
Restart=always

[Install]
WantedBy=multi-user.target